.loading-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.guess-wrap {
    background-color: white;
    min-height: 300px;
    position: relative;
}

.guess-title {
    display: block;
    color: #397f44;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px 0;
    width: 120px;
    text-align: center;
}

.guess-item {
    width: 100%;
    height: 100%;
}

.guess-item-img {
    background-size: cover;
    width: 60%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

.guess-item-description {
    margin-top: 10px;
}

.guess-item-name {
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    display: inline-block;
    float: left;
    color: grey;
}

.guess-item-price {
    display: inline-block;
    color: #397f44;
    font-size: 20px;
    font-weight: 600;
    float: right;
    margin-right: 25px;
}

.guess-item-price::before {
    content: '￥';
}