.tabbar {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 1;
    border-top: 1px solid #F3F3F3;
    text-align: center;
    transition: all ease 0.3s;
}

.tabbar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.tabbar-active {
    color: #258fff;
}

.tabbar-inactive {
    color: #b9b9b9;
}

.tabbar-hidden {
    height: 0;
    transition: all ease 0.3s;
}

.tabbar-title {
    font-size: 10px;
    margin: 3px 0 0 0;
    line-height: 1;
    text-align: center;
}

a.active {
    color: #258fff;
    text-decoration: none;
}

a {
    color: #b9b9b9;
    text-decoration: none;
}