.guess-wrap {
  background-color: white;
  min-height: 300px;
  position: relative;
  /* padding-bottom: 20px; */
}

.guess-title {
  display: block;
  color: #fb9494;
  font-size: 16px;
  margin: 0px auto;
  background-color: white;
  padding: 30px 40px 0px 50px;
  /* width: 120px; */
}
