.guess-wrap {
    background-color: white;
    min-height: 300px;
    position: relative;
    padding-bottom: 20px;
}

.guess-title {
    display: block;
    color: #fb9494;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px 0;
    width: 120px;
    text-align: center;
}